body{
    background-color: rgb(58, 58, 58);
}

th{
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: rgb(58, 58, 58);;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    border-radius: 3px;
}
td {
    /* border: 1px solid rgb(74, 185, 98); */
   height: 15px;
   font-size: 12px;
}

.pod, .but{
    /* border: 1px solid rgb(76, 74, 185); */
    background-color: rgb(58, 58, 58);
    text-align: center;
    font-size: 12px;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 3px;
    /* text-transform: lowercase; */
}

.table{
    /* border: 1px solid rgb(163, 148, 248);  */
    background-color: rgb(58, 58, 58);
}
h3{
    padding: auto;
    margin: 0;
    color: antiquewhite;
    text-transform: uppercase;
}
.pallet{
    height: 20px;
    width: 20px;
    border-radius: 3px;
}

/* .but{
    font-size: 12px;
} */




